<section class="about" id="about">

<div class="container-imges">
    <img src="../../assets/pictures/Programming-pana.png" alt="">
</div>

<div class="container-text">

    <h1>About <span>Me</span></h1>

    <p>
    Seit meiner Kindheit begeistere ich mich für
    Computer und habe Freude daran, Probleme
    im Zusammenhang mit ihnen zu lösen. Aktuell
    studiere ich seit 2020 im Bereich der
    Informatik. Meine Erfahrungen umfassen
    sowohl Programmierung als auch Kenntnisse
    in Software- und Hardware-Bereichen.
    </p>
</div>
</section>