<section class="home" id="home">
    <app-nav-bar></app-nav-bar>

    <div class="content">
      <div class="container-text">
        <h4>Hello mein Name ist </h4>
        <h1>Karl <span>Tenang </span></h1>
        <h3>Willkommen in meiner Welt!</h3>
        <a href="" class="btn">Lebenslauf Herunterladen</a>
        <div class ="social">
          <a href="https://www.facebook.com/?locale=de_DE"><img src="../../assets/icons/facebook_icon-icons.com_59205.png" alt=""></a>
          <a href="#"><img src="../../assets/icons/telegram_icon-icons.com_72055.png" alt=""></a>
          <a href="https://api.whatsapp.com/"><img src="../../assets/icons/Whatsapp_icon-icons.com_66931.png" alt=""></a>
          <a href="#"><img src="../../assets/icons/tiktok_logo_icon_186896.png" alt=""></a>
        </div>
      </div>
      <div class="container-imges">
        <img src="../../assets/pictures/1.png" alt="" class="shape">
        <img src="../../assets/pictures/5.png" alt="" class="pic">
      </div>
    </div>
</section>