<section class="services" id="Projekt">

<h1 class="text-center">Me<span> Projects</span></h1>

<div class="box">
    
    <div class="card">
    <em class="fa-solid fa-laptop-code"></em>
    <h5>Projects 1</h5>
    <div class="par">
        <p>
        In diesem kleinen Projekt habe ich eine Webseite erstellt, die eine Nervenpraxis präsentiert.
        Um das Projekt herunterzuladen, klicken Sie bitte hier: <a href="" style="color: plum;">Projekt herunterladen</a>
        </p>
    </div>
    </div>


    <div class="card">
    <em class="fa-solid fa-microchip"></em>
    <h5>Projects 2</h5>
    <div class="par">
        <p>
        In diesem Projekt entwickle ich einen Online-Shop unter Verwendung von HTML, CSS, JavaScript, PHP und MySQL.
        Um mehr über das Projekt zu erfahren und es herunterzuladen, klicken Sie bitte hier: <a href="" style="color: plum;">Projekt herunterladen </a>
        </p>
    </div>
    </div>

    <div class="card">
    <em class="fa-solid fa-screwdriver-wrench"></em>
    <h5>Projects 3</h5>
    <div class="par">
        <p>
        Dieses Projekt ist meine persönliche Profilseite. Sie können es auch unter folgendem Link herunterladen: <a href="" style="color: plum;">Projekt herunterladen</a>
        </p>
    </div>
    </div>
    
    <div class="card">
    <em class="fa-brands fa-uncharted"></em>
    <h5>Parktikums</h5>
    <div class="par">
        <p>
        Um mehr über die Details meiner Praktikumserfahrung zu erfahren, klicken Sie bitte hier: <a href="#" style="color: plum;">Hier klicken</a>
        </p>
    </div>
    </div>
</div> 
</section>