<section class="skills" id="skill">
<div class="container-skills">
    <h1>My <span>Skills</span></h1>
    <div class="content-skills">
    <div class="skill"><img src="../../assets/icons/c.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/c++.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/Cs.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/java.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/mysql.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/psql.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/js.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/html.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/css.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/php.png" alt=""></div>
    <div class="skill"><img src="../../assets/icons/linux.png" alt=""></div>
        <div class="skill"><img src="../../assets/icons/py.png" alt=""></div>
    </div>
</div>
<div class="container-imges">
    <img src="../../assets/pictures/Learning-bro.png" alt="">
</div>
</section> 